*{
    box-sizing: border-box;
}
div{
    border: 1px solid black;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 77px;
}
.main{
    width: 1051px;
    margin: 0 auto;
}
.divSeusQuizes{
    width: 100%;
    height: 181px;
    margin-bottom: 77px;
}
.quiz{
    width: 340px;
    height: 181px;
    margin-bottom: 12px;
}
.containerQuizes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}